body {
    width: 70%;
    background-color: snow;
    margin: auto;
}

nav {
    border-bottom: 1px solid purple;
}

nav ul, footer ul {
    font-family:'Times New Roman', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    color: black;
    margin: 4px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 50px;
}
nav ul li a {
    font-weight: 700;
    font-size: large;
}
footer ul {
    float: right;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    float: left;
    vertical-aign: middle;
    width: 50%
}

a {
    text-decoration: none;
    color: purple;
    font-weight: heavy;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Times New Roman','Times','Serif';
    font-variant: 'small-caps';
}
h2 {
    font-size: 1.75em;
    font-family:'Times New Roman', 'Times', 'Serif';
    font-variant: small-caps;
    font-weight: normal;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    font-family:'Times New Roman','Times','Serif';
    fot-weight: normal;
    color: black;
}
footer {
    border-top: 2px solid purple;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
