<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Research</a></li>
	        		<li><a href="/cv">CV/Contact</a></li>
	        		<li><a href="/blog">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mattleisten@gmail.com">Email</a></li>
	        		<li><a href="https:mleisten.github.io">mleisten.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
